.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Adjusts the space between the cards */
  margin: 20px;
}

.card {
  padding: 2em;
}

.counter {
  font-size: 50px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
