.rock-image {
  display: inline-block;
  transition: transform 0.3s ease-out; 
  transform-origin: center bottom; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.rock-image:hover {
  transform: scale(1.1); /* Scale up the image when hovered */
}

.mineral-image {
  display: inline-block;
  transition: transform 0.3s ease-out; 
  transform-origin: center bottom; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.bounce {
  animation: bounce 0.3s ease-out; /* Quicker, more responsive animation */
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0deg) scale(1); /* Keep scale at 1 for minerals */
  }
  40% {
    transform: translateY(var(--bounce-height, -20px)) rotate(var(--rotate-angle, 10deg)) scale(1);
  }
  60% {
    transform: translateY(var(--bounce-height-half, -10px)) rotate(var(--rotate-angle-half, -5deg)) scale(1);
  }
  100% {
    transform: translateY(0) rotate(0deg) scale(1); /* Maintain original scale for minerals */
  }
}
